asgiref==3.11.1
Django==6.0.6
gunicorn==26.0.0
holidays==0.99
jaraco.functools==4.4.0
more-itertools==10.8.0
mysqlclient==2.2.8
nginx==1.24.0
numpy==2.5.0
packaging==26.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
six==1.17.0
sqlparse==0.5.5
tempora==5.8.1