{% extends 'request_base.html' %}
{% load i18n %}

{% block title %}{% trans "Edycja wniosku" %}{% endblock %}
{% block form_title %}{% trans "Edytuj wniosek" %}{% endblock %}
{% block top %}{% trans "Edytuj wniosek" %}{% endblock %}
{% block form_action %}{% url 'leave_request_edit' form.instance.id %}{% endblock %}
{% block button %}{% trans "Edytuj wniosek" %}{% endblock %}

{% block description %}
<p>{% trans "Aktualny zakres dat:" %}<br>
    <b>{{ existing_start }} - {{ existing_end }}</b></p>
{% endblock %}

{% block approve %}{% trans "edytować" %}{% endblock %}
